.categories-container {
  text-align: center;
  padding: 20px;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.category-card {
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  background: #fff;
  transition: all 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05);
  background: #ffe9c7;
}

.category-card img {
  width: 100%;
  border-radius: 10px;
}
