.search-container {
  text-align: center;
  padding: 20px;
}

.search-container input {
  padding: 10px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #ddd;
  margin-right: 10px;
}

.search-container button {
  padding: 10px 16px;
  font-size: 16px;
  background-color: #ff8c00;
  border: none;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.meals-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.meal-card {
  background: #fff;
  padding: 12px;
  border-radius: 10px;
  text-align: center;
}

.meal-card img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 10px;
}

.details-btn {
  margin-top: 10px;
  display: inline-block;
  padding: 8px 15px;
  background: #222;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.details-btn:hover {
  background: #ff8c00;
}
